<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Vendedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let item of items">
      <ion-grid>
        <ion-row>
          <ion-col align-self-center size="10">
            <div>
              <strong>{{ item.nome }}</strong>
            </div>
          </ion-col>
          <ion-col align-self-center size="2">
              <div>
                <ion-button fill="clear" size="small" (click)="onCickEdit(item)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
              </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col align-self-center size="2">
              <div>
                {{ item.id }}
              </div>
            </ion-col>
            <ion-col align-self-center size="8">
              <div>
                {{ item.cpf }}
              </div>
            </ion-col>
            <ion-col align-self-center size="2">
                <div>
                  <ion-button fill="clear" size="small" (click)="onCickDelete(item.id)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-item>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" routerLink="/cadastro-vendedor" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinity($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
