<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="bem-vindo-card">
      <ion-img src="/assets/imgs/tela-inicial.png" alt="logo"></ion-img>
      <ion-card-header>
        <ion-card-subtitle color="primary">Vamos começar</ion-card-subtitle>
        <ion-card-title color="primary">Bem vindo à Engineering do Brasil</ion-card-title>
      </ion-card-header>
      
      <ion-card-content color="primary">
        <ion-text color="primary">Este sistema tem por objetivo avaliativo o processo de seleção na Engineering do Brasil.</ion-text>
        <br />
        <br />
        <ion-text color="primary">Para começarmos, selecione abaixo qual <i>resource</i> você deseja acessar.</ion-text>
      </ion-card-content>
    </ion-card>
    
    <ion-list lines="none">
      <ion-list-header>
        <ion-label color="primary"><h2><b>Resources</b></h2></ion-label>
      </ion-list-header>

      <ion-button expand="full" shape="round" color="primary" routerLink="/vendedores" routerDirection="forward">Vendedores</ion-button>
      <ion-button expand="full" fill="outline" shape="round" disabled>Clientes</ion-button>
    </ion-list>
</ion-content>